{% extends "base_site.html" %}
{% load i18n static %}
  
{% block content %}
{% block breadcrumbs %} {% endblock %}

<div id="c316" class="box frame frame-default frame-type-text frame-layout-0"><header class="box_header"><h1 class="">
				Imprint / Impressum
			</h1></header><div class="box_content"><h2 class="underline">Provider Identification</h2><p>The following provides mandatory data concerning the provider of this Website, obligations with regard to data protection, as well as other important legal references involving the Website of the <a href="http://www.mpi-inf.mpg.de/" target="_blank">Max Planck Institut für Informatik</a> (= <a href="http://www.mpi-inf.mpg.de/" target="_blank">http://www.mpi-inf.mpg.de/</a>) as required by German law.
</p><h3>Provider</h3><p>The provider of this Website within the legal meaning of the term is the registered association Max Planck Society for the Advancement of Science.
</p><h3>Address</h3><p>Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.<br> Hofgartenstraße 8<br> 80539 München<br> Tel.: +49 (0) 89 2108 - 0<br> Internet: <a href="http://www.mpg.de/" target="_blank">www.mpg.de</a><br> e-mail: <a href="typo3/mailto:presse@gv.mpg.de">presse@gv.mpg.de</a></p><h3>Register of Societies and Associations</h3><p>The Max Planck Society is registered in the Official Register of Societies and Associations at Berlin-Charlottenburg Local Court under the register number VR 13378 B.
</p><h3>Legal Representation</h3><p>The Max Planck Society is legally represented by its Board of Directors which, in turn, is represented by the President of the Society, Prof. Dr. Martin Stratmann and by Secretary General Rüdiger Willems (on an interim basis).
</p><h3>Value Added Tax Identification Number</h3><p>The value added tax identification number of the Max Planck Society is: DE129517720
</p><h3>Editors</h3><p>Dipl. Verw.-Wirt <a href="http://www.mpi-inf.mpg.de/%7Egeiss/" target="_blank">Volker Maria Geiß</a>, Campus E1 4, 66123 Saarbrücken
</p><h3>Legal Structure</h3><p>The Max Planck Society is a non-profit research facility which is organized as a registered association. All of the institutes and facilities of the Max Planck Society are largely autonomous in terms of organization and research, but as a rule have no legal capacity of their own.
</p><h3>Foreign Language Pages</h3><p>To the extent that parts of this Website are offered in languages other than German, this represents a service exclusively for staff and guests of the Max Planck Society who are not proficient in German.
</p><h2 class="underline">Copyright</h2><p>The layout, graphics employed and any other contents on the Website of the Max Planck Society are protected by copyright law.
</p><p>Copyright Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V., München. All rights reserved.</p></div></div>

 {% endblock %}


